<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <%= form_with model: group_post, url: group_post_path, method: :post do |f| %>
            <%= f.label :content, '新規投稿', class: 'col-sm-3 col-form-label' %>
            <%= f.rich_text_area :content %>
            <%= f.hidden_field :group_id, value: group.id %>
            <%= f.submit '投稿する', class: 'btn btn-secondary text-center rounded-pill' %>
        <% end %>
      </div>
    </div>
  </div>
</div>