<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1 class="text-light text-center">Sign up</h2>
    <div class="card">
      <div class="card-body">
        <strong class="sign-up-text">LINEで簡単登録(期限のお知らせ通知を受け取ることができます。)</strong>
        <div class="text-center">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false }, class: "btn btn-success btn-line" do%>
            <i class="fa-brands fa-line text-light fa-lg fa-fw mr-2"></i>LINEで登録
          <% end %>
        <% end %>
        </div>
      </div>
    </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="card">
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="card-body">
      <strong class="sign-up-text">情報を入力して新規登録</strong>
      <div class="field">
      <%= f.label :image, 'プロフィール画像' %><br>
      <%= f.file_field :image, class: "form-control" %>
      </div>
      <div class="field">
      <%= f.label :nickname, 'ニックネーム' %><br>
      <%= f.text_field :nickname, class: "form-control"  %>
      </div>
      <div class="field">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上で設定してください。)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
      </div>

      <div class="field">
        <%= f.label :パスワードの確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
      </div>
      <%= link_to "プライバシーポリシー", privacy_policy_path %>
      <br>
      <div class="actions text-center">
        <%= f.submit "Sign up", class: "btn btn-secondary"  %>
      </div>
      <hr>
      <div class="text-center">
        ログインはこちらから
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %>

      </div>
    </div>
  </div>
<% end %>

  </div>
</div>