<div class="row">
<h1 class="text-light text-center">グループ編集画面</h1>
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <%= form_with model: @group do |f| %>
          <% if @group.errors.any? %>
            <div id="error_explanation">
            <% @group.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert">
                <strong>以下は必須項目です</strong>
                <ul>
                  <li><%= message %></li>
                </ul>
              </div>
            <% end %>
            </div>
          <% end %>

            <div class="field">
              <%= f.label :name, "グループ名" %>
              <%= f.text_field :name, autofocus: true, class: "shadow-sm form-control" %>
            </div>
            <div class="field">
              <%= f.label :description, "グループの説明" %>
              <%= f.text_area :description, class: "shadow-sm form-control" %>
            </div>

          <div class="actions text-center">
            <%= f.submit "保存する", class: "shadow btn btn-secondary rounded-pill" %>
          </div>
        <% end %>
        <%= link_to "戻る", group_path(@group.id) %>
      </div>
    </div>
  </div>
</div>
