<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-center text-light">グループ一覧</h1>
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <% if user_signed_in? %>
            <%= link_to '新しいグループを作成', new_group_path, class: "btn btn-outline-success rounded-pill" %>
          <% end %>
        </div><hr>
          <div class="row">
            <div class="col-3">
              グループ名
            </div>
            <div class="col-6">
              グループ説明
            </div>
            <div class="col-3">
              参加人数
            </div>
          </div>
        <% @groups.each do |group| %>
          <hr>
          <div class="row">
            <div class="col-3">
              <%= link_to group.name, group_path(group.id) %>
            </div>
            <div class="col-6">
              <%= group.description %>
            </div>
            <div class="col-3">
              <%= group.users.count %>人
            </div>
          </div>
        <% end %>
        <%= paginate @groups, theme: 'bootstrap-5', class: "paginations" %>
      </div>
    </div>
  </div>
</div>
