<div class="row">
<h1 class="text-light text-center">グループの作成</h1>
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <%= form_with model: @group do |f| %>
          <% if @group.errors.any? %>
            <div id="error_explanation">
              <h2><%= @group.errors.count %> つのエラーが発生しました。</h2>
              <ul>
                <% @group.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :name, "グループ名" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
          
          <div class="field">
            <%= f.label :description, "グループの説明" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="actions text-center">
            <%= f.submit "作成する", class: "btn btn-secondary rounded-pill" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
