<div class="row">
  <h1 class="text-light text-center">Follower</h1>
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
          <% @users.each do |user| %>
            <div class="row">
              <div class="col-2">
                <p><%= image_tag user.get_profile_image, size: '50x50', style: 'border-radius: 25%' %></p>
                <p><%= link_to user.nickname, user_path(user.id), data: {"turbolinks" => false}, style: "text-decoration:none;" %></p>
              </div>
              <div class="col-7">
                <p><%= truncate(user.introduction, length: 90) %></p>
              </div>
              <div class="col-3">
                <div id="relationship_<%= user.id %>">
                  <%= render "relationship", user: user %>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
        <%= paginate @users, theme: 'bootstrap-5', class: "paginations" %>
      </div>
    </div>
  </div>
</div>