<!--ローディング部分-->
<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>

<!--show画面-->
<div class="row">
  <div class="col-1"></div>
    <div class="col-9">
<h1 class="text-light text-center">Profile</h2><br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 text-center">
      <%= image_tag @user.get_profile_image, size: "200x200", style: 'border-radius: 50%' %>
    </div>
    <div class="col-md-1"></div>
    
    <div class="col-md-7 text-light">
      <h3><%= @user.nickname %></h3><br>
      <%= @user.introduction %><br>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 text-center">
      <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
          <p><%=link_to "フォロー済み", user_relationships_path(@user.id), class: "btn btn-outline-light rounded-pill", method: :delete %></p>
        <% else %>
          <p><%=link_to "フォローする", user_relationships_path(@user.id), class: "btn btn-success",method: :post %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-1">
      <% if current_user != @user && current_user.following?(@user) && @user.following?(current_user) %>
        <%= link_to chat_path(@user.id), class: "btn btn-light rounded-pill" do %>
        <i class="fa-regular fa-envelope"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-1"></div>
    <% if @user.id == current_user.id %>
    <div class="col-7">
      <%= link_to "プロフィール情報を編集", edit_user_path(current_user), class: "btn btn-light rounded-pill"%>
    </div>
    <% end %>
  </div>
<hr>
<div class="container">

        <ul class="nav nav-underline nav-justified">
          <li class="nav-item">
            <a class="nav-link active text-light" data-toggle="tab" href="#in_progress">In progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" data-toggle="tab" href="#not_started">untouched</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" data-toggle="tab" href="#completed">completed</a>
          </li>
        </ul>
        <!--固定位置で右下に新規投稿のボタンを置けるようにする-->
        <!--<%= link_to "New", new_goal_path, class: "btn btn-outline-primary ml-auto" %>-->


      <div class="tab-content">
        <div id="in_progress" class="tab-pane fade show active">
          <div class="card-deck">
          <% @in_progress_goals.each do |goal| %>
            <%= render "goal", goal: goal %>
          <% end %>
          </div>
        </div>
        <div id="not_started" class="tab-pane fade">
          <div class="card-deck">
          <% @not_started_goals.each do |goal| %>
            <%= render "goal", goal: goal %>
          <% end %>
          </div>
        </div>
        <div id="completed" class="tab-pane fade">
          <div class="card-deck">
          <% @completed_goals.each do |goal| %>
            <%= render "goal", goal: goal %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
