<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>

<h2>Profile</h2>
  <div class="row">
    <div class="col-md-3">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200"  %>
      <% end %>
    </div>
    <div class="col-md-9">
      <h3><%= @user.nickname %></h3>
      <%= @user.introduction %><br>
      <%= link_to "プロフィール情報を編集", edit_user_path(current_user), class: "btn btn-primary"%>
    </div>
      <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
          <p><%=link_to "フォロー済み", user_relationships_path(@user.id), class: "btn btn-primary", method: :delete %></p>
        <% else %>
          <p><%=link_to "フォローする", user_relationships_path(@user.id), class: "btn btn-success",method: :post %></p>
        <% end %>
      <% end %>

  </div>
<hr>

<div class="card-deck">
  <% @goals.each do |goal| %>
  <div class="card border-dark mb-3" style="max-width: 250px; min-width: 250px;">
    <div class="card-header"><%= l goal.deadline %></div>
    <div class="card-body">
      <h5 class="card-title"><%=link_to goal.title, goal_path(goal.id) %></h5>
      <p class="card-text"><%= goal.content %></p>
    </div>
  </div>
  <% end %>
</div>
