<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h2 class="text-center text-light", id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.nickname %> さんとのチャット</h2>
    <div class="message" >
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
            <%= render "chats/chat", chat: chat %>
          <% else %>
            <div class="left-container d-flex">
              <%= image_tag @user.get_profile_image, size: '30x30', style: 'border-radius: 50%' %>
              <p class=ml-1 style="text-align: left;"><span style="background-color: #F5F5DC; padding: 5px; border-radius: 10px;"><%= chat.message %></span></p>
              <%= time_ago_in_words(chat.created_at) %>前
            </div>
          <% end %>
        <% end %>
    </div>
    <div id="chats_errors">
      <%= render "layouts/errors", model: @chat %>
    </div>
    <div class="form-inline">
        <div class="mx-auto">
          <%= form_with model: @chat, data: {remote: true} do |f| %>
              <%= f.text_field :message, class: "form-control" %>
              <%= button_tag type: "submit", class: "btn btn-secondary" do %>
                <i class="fa-solid fa-paper-plane text-light"></i>
              <% end %>
              <%= f.hidden_field :room_id %>
          <% end %>
        </div>
    </div>
  </div>
</div>