<h1 class="text-light text-center">通報一覧</h1>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>通報No.</th>
            <th>通報者</th>
            <th>通報された人</th>
            <th>通報内容</th>
            <th>対処</th>
          </tr>
            <% @reports.each do |report| %>
          <tr>
            <td><%= link_to report.id, admin_report_path(report) %></td>
            <td><%= report.reporter.nickname %></td>
            <td><%= report.reported.nickname %></td>
            <td><%= report.reason_i18n %></td>
            <td><%= report.status_i18n %></td>
          </tr>
          　<% end %>
        </table>
        <div class="text-center">
          <%= paginate @reports, theme: 'bootstrap-5', nav_class: "d-inline-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
