<div class="row">
  <div class="col-2"></div>
  <div class="col-auto">
    <h2 class="text-light">カテゴリ一覧・追加</h2>
    <%=form_with model: @category, url: admin_categories_path, method: :post do |f| %>
      <%= f.label :"カテゴリ名", class: "mr-3 text-light" %>
      <%= f.text_field :name, class: "mr-5 form-control" %>
      <%= f.submit'新規登録',class: "btn btn-primary" %>
    <% end %>

      <h2 class="text-light">カテゴリ</h2>
      <table class="table">
       <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-success rounded-pill btn-sm" %></td>
        </tr>
       <% end %>
      </table>

  </div>
</div>

