<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <h2 class="text-light">カテゴリ追加</h2>
    <% if @category.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>以下の項目は必須です</strong>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
              <p><%= message %></p>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%=form_with model: @category, url: admin_categories_path, method: :post do |f| %>
      <%= f.label :"カテゴリ名", class: "mr-3 text-light" %>
      <div class="form-inline">
        <div class="input-group">
          <%= f.text_field :name, class: "form-control" %>
          <%= f.submit'新規登録',class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-4">
    <h2 class="text-light">カテゴリ一覧</h2>
      <div class="card">
        <div class="card-body">
          <table class="table">
           <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-outline-success rounded-pill btn-sm" %></td>
              <td><%= link_to "削除する", admin_category_path(category.id), method: :delete, class: "btn btn-outline-danger rounded-pill btn-sm" %></td>
            </tr>
           <% end %>
          </table>
          <div class="text-center">
            <%= paginate @categories, theme: 'bootstrap-5', nav_class: "d-inline-block" %>
          </div>
        </div>
      </div>
  </div>
</div>


