<div class="row">
  <div class="col-2"></div>
    <div class="col-8">
      <h1 class="text-light text-center">Edit goal!</h2>
        <%= form_with model: @goal do |f| %>
          <div class="card">
            <div class="card-body">
              <div class="mx-auto">
              
                <div class="form-group row">
                  <%= f.label :title, '目標のタイトル', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <%= f.text_area :title, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :category_id, 'カテゴリを選択', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <%= f.collection_select :category_id, Category.all,  :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :content, '目標達成するための具体的な方法', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <%= f.rich_text_area :content %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :deadline, '期限を設定', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <%= f.datetime_field :deadline, class: 'form-control' %>
                  </div>
                </div>
                <div class="form-group row">
                  <%= f.label :reward, '達成後のご褒美', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <%= f.text_area :reward, class: 'form-control' %>
                  </div>
                </div>
                <!--進捗ステータスを入力できるようにする-->
       　　     　   <div class="form-group row">
                  <%= f.label :status, '進捗ステータス', class: 'col-sm-3 col-form-label' %>
                  <div class="col-sm-9">
                    <%= f.select :status, Goal.statuses.keys.map {|k| [I18n.t("enums.goal.status.#{k}"), k]} %>
                  </div>
                </div>
      
                <div class="form-group row">
                <div class="col-sm-12 text-center ">
                  <%= f.submit '編集完了', class: 'btn btn-secondary rounded-pill' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
