<div class="container">
  <div class="row-col-4">
    <h2>Setting new goal!</h2>
      <div class="mx-auto">
        <%= form_with model: @goal, url: goals_path, method: :post do |f| %>
          <div class="form-group row">
            <%= f.label :title, '目標のタイトル', class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.text_area :title, class: 'form-control' %>
            </div>
          </div>
          <!--インフォメーションボタンここから-->
          <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa-regular fa-circle-question text-light"></i>
          </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              目標を達成するための方法を具体的に書き出してみましょう。
              箇条書きやリストの作成、参考リンクなども貼ることができます。
            </div>
          </div>
          <!--ここまで-->
           <div class="form-group row">
              <%= f.label :content, '目標達成するための方法', class: 'col-sm-3 col-form-label', for: 'goal_way'  %>
            <div class="col-sm-9">
            <%= f.rich_text_area :content, id: 'goal_way' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :deadline, '期限を設定', class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.datetime_field :deadline, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :reward, '達成後のご褒美', class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.text_area :reward, class: 'form-control' %>
            </div>
          </div>
          <!--進捗ステータスを入力できるようにする-->
          <div class="form-group row">
            <%= f.label :status, '進捗ステータス', class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
              <%= f.select :status, Goal.statuses.keys.map {|k| [I18n.t("enums.goal.status.#{k}"), k]} %>
            </div>
          </div>

          <div class="form-group row">
          <div class="col-sm-9 ">
            <%= f.submit '目標を設定する！', class: 'btn btn-success' %>
          </div>
          </div>
        <% end %>
      </div>
  </div>
</div>