<div class="container">
  <div class="col-md-9">
      <strong><%= @goal.title %></strong>
      <%= @goal.content %>
      <p>limit: <%= l @goal.deadline %></p>
      <%= @goal.reward %><br>
      <%= @goal.status_i18n %>
  </div>
</div>