    <div class="card">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><%= @goal.title %></h3>
          <h6 class="card-subtitle mb-2 text-body-secondary">limit: <%= l @goal.deadline %></h6>
          <p class="card-text">
            <%= @goal.content %><br>
            <%= @goal.reward %><br>
            <%= @goal.status_i18n %>
          </p>
          <%= render "cheers/btn", goal: @goal %>
          コメント数： <%= @goal.comments.count %>
          <%= link_to "編集する", edit_goal_path(@goal.id), class: "btn btn-success" %>
          <%= link_to "削除する", goal_path(@goal.id), class: "btn btn-danger", method: :delete %>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    
    <%= render "comments/index", goal: @goal %>
    <%= render "comments/form", goal: @goal, comment: @comment %>
