<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="card border-light mb-3">
      <div class="col-md-2"></div>
      <div class="card-header">
        <div class="row">
          <div class="col-3">
            <%= image_tag @goal.user.get_profile_image , size: '30x30' , style: 'border-radius: 25%' %>
              <%= @goal.user.nickname %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <h3 class="card-title "><span class="title-marker">
                <%= @goal.title %>
              </span></h3>
          </div>
          <div class="col-3">
            <div class="text-right">
              <% if @goal.user.id==current_user.id %>

                <span class="<%= @goal.status %>.to_s"></span>
                <%= form_with model: @goal, url: goal_goal_status_update_path(@goal.id), method: :patch do |f| %>
                  <div class="form-inline">
                    <div class="input-group">
                      <%= f.select :status, Goal.statuses.keys.map {|k| [I18n.t("enums.goal.status.#{k}"), k]}, {},
                        {class: "form-control" } %>
                        <%= button_tag type: :submit, class: "btn btn-secondary btn-sm" do %>
                          <i class="fa-solid fa-check text-light"></i>
                          <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-regular fa-calendar"></i>
          <%= l @goal.deadline %>
        </h6>
        <% if @goal.category.present? %>
          <p><i class="fa-solid fa-tag"></i>
            <%= @goal.category.name %>
          </p>
          <% end %>
            <p class="card-text">
              <%= @goal.content %><br>
                ごほうび: <%= @goal.reward %><br>
            </p>
            <!--振り返り機能条件ここから-->
            <% if @goal.lookback==nil && @goal.status=="completed" && @goal.user.id==current_user.id %>
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      目標の振り返りをする
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <%= form_with model: @goal, url: goal_goal_lookback_add_path(@goal.id), method: :patch do |f| %>
                        <div class="form-group row">
                          <%= f.label :lookback, '目標の振り返り' , class: 'col-sm-3 col-form-label' %>
                          <div class="col-sm-9">
                            <%= f.text_area :lookback, class: 'form-control' %>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-12 text-center ">
                            <%= f.submit '振り返りを追加' , class: 'btn btn-secondary rounded-pill' %>
                          </div>
                        </div>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <% elsif @goal.lookback !=nil && @goal.status=="completed" %>
                <!--振り返りここから-->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        目標の振り返りをみる
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <%= @goal.lookback %>
                      </div>
                    </div>
                  </div>
                </div>
                <% else %>
              <% end %>
                    <!--ここまで-->
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-1">
            <div id="cheer_btn_<%= @goal.id %>">
              <%= render "cheers/btn" , goal: @goal %>
            </div>
          </div>
          <div class="col-1">
            <div class="form-inline">
              <i class="fa-regular fa-message"></i>
              <div id="comment_counter">
                <%= render "comments/counter" , goal: @goal %>
              </div>
            </div>
          </div>
          <div class="col-2">
            <%= time_ago_in_words(@goal.created_at) %>前
          </div>
          <div class="col-8">
            <div class="text-right">
              <%= link_to "https://twitter.com/share?url=#{goal_url(@goal)}&text=【新たな目標】%0a%0a#{@goal.title}" ,target: '_blank' , data: { toggle: "tooltip" , placement: "bottom" }, title: "Xでシェア" ,class: "btn btn-light rounded-pill" do %>
                <i class="fa-brands fa-x-twitter"></i>
              <% end %>
              <% if @goal.user.id==current_user.id %>
                <%= link_to edit_goal_path(@goal.id), class: "btn btn-light rounded-pill" , title: "編集する" do %>
                  <i class="fa-solid fa-pen-to-square "></i>
                <% end %>
                <%= link_to goal_path(@goal.id), class: "btn btn-light rounded-pill" , title: "削除する" , method: :delete, data: {confirm: "目標を削除してもよろしいですか？" } do %>
                  <i class="fa-solid fa-trash-can "></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>

    <!--コメントの非同期化-->
    <div class="success-message"></div>
    <div id="comment_index">
      <%= render "comments/index" , comments: @comments %>
    </div>
    <div class="mt-3">
      <%= render "comments/form" , goal: @goal, comment: @comment %>
    </div>
  </div>
</div>