<h1 class="text-light text-center">ユーザー一覧</h1>
<div class="row">

  <div class="col-2"></div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <!--アコーディオンここから-->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                管理方法
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                ニックネームのリンクを押すと各会員の目標一覧を閲覧・削除できます。
                また、会員ステータスのリンクを押すと会員ステータスの編集が可能です。
              </div>
            </div>
          </div>
        </div>
        <!--ここまで-->
        <table class="table">
          <tr>
            <th>ユーザーID</th>
            <th>ニックネーム</th>
            <th>メールアドレス</th>
            <th>入退会ステータス</th>
          </tr>
          <tr>
            <% @users.each do |user| %>
            <td><%= user.id %></td>
            <td><%= link_to user.nickname, admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to user.status_text, edit_admin_user_path(user) %></td>
          </tr>
          　<% end %>
        </table>
        <div class="text-center">
          <%= paginate @users, theme: 'bootstrap-5', class: "paginations", nav_class: "d-inline-block" %>
        </div>
      </div>
    </div>
  </div>
</div>