<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
      <div class="navbar-brand">
        <%= link_to root_path do %>
        <img src="../../assets/newme.jpg" ></div>
        <% end %>
      <%= l Time.zone.now %>
    <% if user_signed_in? %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#headerModal">
        <i class="fa-regular fa-bell rounded-pill"></i>
      </button>
    <% end %>
    <!--モーダルここまで-->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <% if user_signed_in? %>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user.id), class: "nav-link active", data: {"turbolinks" => false} %>
            </li>
            <li class="nav-item">
              <%= link_to "目標新規登録", new_goal_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "タイムライン", goals_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "フォロー", follows_user_path(current_user.id), class: "nav-link active" %>
            </li>
            <li class="nav-item">
            <%= link_to "フォロワー", followers_user_path(current_user.id), class: "nav-link active" %>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              グループ
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">
                <%= link_to "グループ作成", new_group_path, class: "nav-link active" %>
              </li>
              <li class="dropdown-item">
                <%= link_to "グループ一覧", groups_path, class: "nav-link active" %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-item">
                <%= link_to "管理しているグループ", new_goal_path, class: "nav-link active" %>
              </li>
            </ul>
          </li>
            <li class="nav-item">
              <%= link_to "使い方", about_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active" %>
            </li>
          </ul>
          <%= render 'layouts/search' %>
        <% elsif admin_signed_in? %>
           <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "ユーザー", admin_users_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "カテゴリ", admin_categories_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "通報一覧", admin_reports_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link active" %>
            </li>

          </ul>
        <% else %>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <%= link_to "Top", root_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link active" %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<div class="modal fade" id="headerModal" tabindex="-1" aria-labelledby="headerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="headerModalLabel">通知一覧</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if user_signed_in? %>
          <%= render 'notifications/index' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>     



